<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="main">
		<div class="signin">
			<h3>Login</h3>
			
			<div class="signin__form">
				<form action="/" method="post">
					<input type="text" name="logemail" placeholder="E-mail" required="">
					<input type="password" name="logpassword" placeholder="Password" required="">
					<div class="tp">
						<input type="submit" value="LOGIN NOW">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>